{% extends 'base.html'%}

{% block title%}
Edit article
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Adding an article</h1>
    <form action="create_article" method="post">
        <input type="text" name="title" id="title" class="form-control" placeholder="Enter name"><br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Enter intro"></textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Enter text"></textarea><br>
        <input type="submit" class="btn btn-success" value="Send">
    </form>
</div>
{% endblock %}